= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Kaushan+Script'
%html
  %head
    %title
      Pragprog Books Online
    = stylesheet_link_tag    "application"
    = javascript_include_tag 'application'
    = csrf_meta_tag
%body#store
  #banner
    = @page_title || "Pragmatic Bookshelf"
  #columns
    #side
      #user_nav
        - if user_signed_in?
          ="Signed as #{current_user.email}."
          %br
          ="Not you?"
          =link_to "Sign out", destroy_user_session_path, :method => 'Delete'
        - else
          =link_to "Sign up", new_user_registration_path
          ="or"
          =link_to "Sign in", new_user_session_path
         
      #cart
        - if !@cart.nil?
          =render @cart    
      
      =link_to 'Home', store_path
      %br
      %a{:href => "http://www..../faq"}
        FAQ
      %br
      %a{:href => "http://www..../news"}
        News
      %br
      %a{href: "http://www..../contact"}
        Contacts
      %br
      %br
    #main
      #notice
        =notice
      #alert
        =alert
      = yield
      