%html
  -lang="en"
  -debug="true"
  %link{"rel" => "stylesheet", "href" => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", "type" => "text/css"}
  
  %head
    %title
      Pragprog Books Online
    = stylesheet_link_tag    "depot"
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
%body
  =render :partial => "shared/flash_messages", :locals => {:flash => flash}
  .topbar
    .topbar-inner
      .container-fluid
        %a.brand{:href => store_path}
          =@page_title || "Pragmatic Bookshelf"
        %ul.nav
          %li.active
          %li
            %a{:href => "http://www..../faq"}FAQ     
          %li
            %a{:href => "http://www..../news"}News
          %li
            %a{href: "http://www..../contact"}Contacts         
        %nav.pull-right
          %ul.nav
            %li.dropdown
              %a.dropdown-toggle{:href => '#', 'data-toggle'=> 'dropdown'}
                Account
                %b.caret
              %ul.dropdown-menu
                - if user_signed_in?
                  %li= link_to 'Settings', edit_user_registration_path
                  %li= link_to 'Logout', destroy_user_session_path, :method => 'delete'
                - else
                  %li= link_to 'Sign up', new_user_registration_path
                  %li= link_to 'Sign in', new_user_session_path        
  .container-fluid
    .sidebar
      .well
        #cart
          - if !@current_cart.nil?
            =render @cart         
    .content
      .hero-unit
        %h1 Your Pragmatic Catalog
      .row
        .span16
          #product_list
            - if !@products.nil?
              =render @products
      .row
     
      %footer        
        - if session[:counter] > 5
          %br
          ="You visited this page " + pluralize(session[:counter],'time', 'times')      